<% content_for :title, "Edit post" %>

<div class="flex flex-col gap-4">
  <h2 class="text-blue-500 font-bold text-xl">Edit post</h2>

  <%= render "form", post: @post %>

  <div class="flex gap-2 items-center">
    <%= link_to "Show this post",
    @post,
    class: "text-blue-500 hover:underline hover:text-blue-700 hover:font-bold" %>
    <%= link_to "Back to posts",
    posts_path,
    class: "text-blue-500 hover:underline hover:text-blue-700 hover:font-bold" %>
  </div>
</div>
