<% content_for :title, "Posts" %>

<turbo-frame id="post_form">
  <%= render "new_post_button" %>
</turbo-frame>

<h1 class="text-orange-500 font-bold text-3xl">Posts</h1>

<turbo-frame id="posts_list">
  <div id="posts">
    <% if @posts.empty? %>
      <p class="text-center text-gray-500">No posts yet. Post something! or Follow another user.</p>
    <% else %>
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
