<% content_for :title, "Posts" %>

<%= link_to new_post_path do %>
  <div class="text-blue-500 hover:text-blue-700 flex items-center gap-2">
    <%= inline_svg_tag "posts/plus-box.svg", class: "w-10 h-10" %>
    <div class="text-xl font-bold">Post</div>
  </div>
<% end %>

<h1 class="text-orange-500 font-bold text-3xl">Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <div class="border-2 border-orange-300 rounded-lg p-4 mb-2">
      <%= render post %>
      <p>
        <%= link_to "Show this post",
        post,
        class: "text-blue-500 font-bold hover:underline hover:text-blue-700" %>
      </p>
    </div>
  <% end %>
</div>
