<% content_for :title, "Posts" %>

<turbo-frame id="post_form">
  <%= render "new_post_button" %>
</turbo-frame>

<h1 class="text-orange-500 font-bold text-3xl">Posts</h1>

<turbo-frame id="posts_list">
  <%= render partial: "posts/posts", locals: { posts: @posts } %>
</turbo-frame>
